body{
    background: lightblue;
    margin-top: 200px;
    text-align: center;
    font-family: 'Cinzel', serif;
}

h1{
    font-family: 'Cinzel', serif;
}
.login_div{
    font-family: 'Cinzel', serif;
}
.login_div input, .register_div input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px;
    border: solid;
    border-radius: 5px;
}
.login_div input:focus, .register_divinput:focus{
    border: 1px solid #777;
}
.login_div button, .register_div button{
    background: lightgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-bottom: 20px;
    border:solid;
    border-radius: 5px;
    width:194px;   
}
.login_div button:hover, .register_div button:hover{
    background: darkseagreen;
    border: 1px solid black;
    cursor: pointer;

}
.welcome_div input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px;
    border: solid;
    border-radius: 5px;
}
.welcome_div button{
    background: slateblue;
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    border:solid;
    border-radius: 5px;
    width:194px;   
}
.welcome_div button:hover{
    background: darkblue;
    color:azure;
    border: 1px solid black;
    cursor: pointer;
}
#myProgress {
    width: 50%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}
#myBar {
    width: 0%;
    height: 5px;
    background-color: green;
    margin-bottom: 20px;
}
