<!DOCTYPE html>
<html ng-app="myApp">

<!--- Angular JS Import --->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!--- app.js Import --->
<script src="Register.js"></script>
    
<!--- Firebase Database --->
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    
<link rel="stylesheet" type="text/css" href="mystyle.css">
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

<div class="register_div" ng-controller="myCtrl">
<div>
<h1>Register</h1>
<input type="email" placeholder="email">
<input type="password" placeholder="password" ng-model='password'>
<input type="password" placeholder="Re-type password">
<p>Password Strength: {{password + " " + num}}</p>
 <div id="myProgress" >
    <div id="myBar"></div>
    </div>
<button id="reg_button">Register</button>
</div>
</div>
        
</html>